/*FUENTES*/
/*COLORES*/
.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  width: 40px;
  cursor: pointer;
  border-radius: 10px; }

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative; }

.navbar ul li a {
  text-decoration: none;
  color: #f8f4f4;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 10px; }

.navbar ul li ::before {
  content: "";
  height: 3px;
  width: 0%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out; }

.navbar ul li :hover::before {
  width: 100%; }

/*NAVBAR PAGINAS*/
.navbar__paginas {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar__paginas a {
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 10px; }

.navbar__paginas__ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative; }

.logo__pag {
  width: 40px;
  cursor: pointer;
  border-radius: 10px; }

.navbar__paginas ul li ::before {
  content: "";
  height: 3px;
  width: 0%;
  background: black;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out; }

.navbar__paginas ul li :hover::before {
  width: 100%; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: black;
  background-size: auto;
  gap: 10px; }
  footer ul {
    color: #f8f4f4;
    list-style: none;
    text-align: right; }

.footer__logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-row-end: 1;
  width: 100px;
  height: 100px; }

.footer__informacion {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  color: #f8f4f4;
  width: 350px;
  height: 100px; }

* {
  margin: 0px;
  padding: 5px; }

/*INDEX*/
.contenedor {
  width: 100%;
  height: 100vh;
  background-image: url(../recursos/principal.jpg);
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat; }

.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  background-color: #f8f4f4;
  height: 1.5rem;
  border-radius: 6px; }

.header__menu li {
  color: #070707; }

.logo {
  width: 40px;
  cursor: pointer;
  border-radius: 10px; }

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative; }

.navbar ul li a {
  text-decoration: none;
  color: #070707;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 10px; }

.navbar ul li ::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #070707;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out; }

.navbar ul li :hover::before {
  width: 100%; }

.portada {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row: 10% 80% 10%;
  gap: 10px;
  color: #f8f4f4;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin: 50px; }
  .portada__subtitulo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: "Roboto";
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
    color: #f8f4f4;
    font-style: normal;
    font-weight: 500; }
  .portada__titulo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: "Roboto";
    font-size: 22px;
    color: #f8f4f4;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    width: 500px; }

.portada__boton {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: left;
  background-color: #070707;
  border-radius: 6px; }
  .portada__boton a {
    font-family: "Roboto";
    list-style-type: none;
    text-decoration: none;
    color: #f8f4f4;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center; }

.presentacion {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 80% 10%;
  gap: 10px;
  align-items: center; }
  .presentacion__titulo {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    font-family: "Comfortaa";
    font-size: 22px;
    color: #070707;
    font-weight: 500;
    text-align: left;
    font-size: 25px; }
  .presentacion__intro {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    font-family: "Comfortaa";
    font-size: 18px;
    color: #070707;
    font-style: normal;
    text-align: left;
    font-weight: 350;
    font-size: 20px;
    padding-right: 190px; }
  .presentacion__imagen {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 600px; }

.presentacion__boton {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  align-self: center;
  background-color: #070707;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  width: 120px;
  height: 36px;
  border-radius: 6px; }
  .presentacion__boton a {
    font-family: "Roboto";
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
    color: #f8f4f4; }
  .presentacion__boton:hover {
    text-decoration: none;
    color: aquamarine; }

.cotizador {
  margin: 0px;
  padding: 10px; }
  .cotizador__imagen {
    width: 100%;
    height: 300px;
    align-items: center; }
  .cotizador__titulo {
    width: 100%;
    height: 30vh;
    background-image: url(../recursos/oficinas.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    font-family: "Comfortaa";
    font-size: 18px;
    color: #f8f4f4;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    padding-top: 100px; }
  .cotizador__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;
    color: #f8f4f4;
    margin: 150px;
    padding: 20px;
    background: linear-gradient(115deg, #232B29, #559585);
    border-radius: 17px;
    font-family: "Comfortaa"; }
  .cotizador__boton {
    font-family: "Comfortaa";
    font-size: 12px;
    background-color: #070707;
    color: #f8f4f4;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    width: 150px;
    height: 36px;
    border-radius: 6px; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: #070707;
  background-size: auto;
  gap: 10px; }
  footer ul {
    color: #f8f4f4;
    list-style: none;
    text-align: right; }

.footer__logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-row-end: 1;
  width: 100px;
  height: 100px; }

.footer__informacion {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  color: #f8f4f4;
  width: 350px;
  height: 100px; }

/*PAGINA DE CONTACTO*/
.contacto {
  box-sizing: border-box;
  color: #f8f4f4;
  padding: 0 1.5em;
  margin-bottom: 40px;
  background: linear-gradient(115deg, #232B29, #559585);
  border-radius: 6px;
  font-family: "Comfortaa"; }
  .contacto__contenedor {
    box-shadow: 0 0 20px 0 #232B29; }
  .contacto__titulo {
    text-align: center;
    font-size: 2em; }
  .contacto__info {
    background: #070707; }

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

.contacto__contenedor > * {
  padding: 1em; }

.contacto__form__fomr p {
  margin: 0;
  padding: 1em; }

.contacto__form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .contacto__form form .block {
    grid-column: 1 / 3; }

.contacto__form form button,
.contacto__form form input,
.contacto__form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d63031;
  outline: none;
  color: #f8f4f4; }

.contacto__form form button {
  background: #070707;
  color: #f8f4f4;
  border: 0;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em; }

.contacto__info h4,
.contacto__info ul,
.contacto__info p {
  text-align: center;
  margin: 0 0 1rem 0; }

.contacto__info ul {
  list-style: none;
  padding: 0; }
  .contacto__info ul li {
    padding: .3em; }

@media (min-width: 700px) {
  .contacto {
    padding: 0.4rem; }
  .contacto__contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contacto__contenedor > * {
    padding: 2em; }
  .contacto__info h4,
  .contacto__info ul,
  .contacto__info p {
    padding: 1em;
    text-align: left; } }

/*PAGINA DE PRODUCTORES*/
.productores {
  box-sizing: border-box;
  color: #f8f4f4;
  padding: 0 1.5em;
  margin-bottom: 40px;
  background: linear-gradient(115deg, #232B29, #559585);
  border-radius: 6px;
  font-family: "Comfortaa"; }
  .productores__titulo {
    text-align: center;
    font-size: 2em; }
  .productores__boton {
    background: #070707;
    color: #f8f4f4;
    border: 0;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    margin: 1rem; }

.mb-3 {
  color: #f8f4f4;
  background: linear-gradient(115deg, #232B29, #559585);
  border-radius: none;
  font-family: "Comfortaa"; }

/*PAGINA QUIENES SOMOS*/
.quienessomos {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row: 10% 80% 10%;
  gap: 10px;
  column-gap: 100px;
  margin-bottom: 40px; }
  .quienessomos__titulo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: "Comfortaa";
    font-size: 25px; }
  .quienessomos__texto {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3; }
  .quienessomos__imagen {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 450px; }
  .quienessomos__boton {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center; }

.quienessomos__texto p {
  font-family: "Comfortaa";
  font-size: 18px; }

.quienessomos__boton button {
  background-color: #070707;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  height: 36px;
  border-radius: 6px; }
  .quienessomos__boton button a {
    font-family: "Roboto";
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;
    color: #f8f4f4; }

/*NAVBAR PAGINAS*/
.navbar__paginas {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar__paginas a {
    text-decoration: none;
    color: #070707;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 10px; }

.navbar__paginas__ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative; }

.logo__pag {
  width: 40px;
  cursor: pointer;
  border-radius: 10px; }

.navbar__paginas ul li ::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #070707;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out; }

.navbar__paginas ul li :hover::before {
  width: 100%; }

/*PAGINA UNETE A NOSOTROS*/
.unete {
  box-sizing: border-box;
  color: #f8f4f4;
  padding: 0 1.5em;
  margin-bottom: 40px;
  background: linear-gradient(115deg, #232B29, #559585);
  border-radius: 6px;
  font-family: "Comfortaa"; }
  .unete__contenedor {
    box-shadow: 0 0 20px 0 #232B29; }
  .unete__titulo {
    text-align: center;
    font-size: 2em; }
  .unete__img {
    text-align: center;
    margin: 0 0 1rem 0; }

.unete__contenedor > * {
  padding: 1em; }

.unete__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .unete__form form p {
    margin: 0;
    padding: 1em; }

.unete__form form button,
.unete__form form input,
.unete__form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d63031;
  outline: none;
  color: #f8f4f4; }

.unete__form form button {
  background: #070707;
  color: #f8f4f4;
  border: 0;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em; }

@media (min-width: 700px) {
  .unete {
    padding: 0.4rem; }
    .unete__contenedor {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    .unete__img {
      padding: 1em;
      text-align: left; }
  .unete__contenedor > * {
    padding: 2em; } }
