footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: $color-secundario;
    background-size: auto;
    gap: 10px;
    
    ul{
        color: $color-principal;
        list-style: none;
        text-align: right;
    }
    
 }
  
  .footer__logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-row-end: 1;
    width: 100px;
    height: 100px; }
  
  .footer__informacion {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    color: $color-principal;
    width: 350px;
    height: 100px; }

    @media (max-width: 700px) {
        footer {
            display: block;
        }
        .footer__logo {
            display: none;
        }
        .footer__informacion {
            width: 100%;
            text-align: center;
        }
        footer ul li {
            width: 100%;
            text-align: center;
        }
        }
